@using Capstone.Web.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Card


<h2>Modify card</h2>

@using (Html.BeginForm("CardSubmitChange", "Card", new { id = Model.CardID, front = Model.Front.Trim(), back = Model.Back.Trim() }))
{
    <div>
        <p>front of card:</p>
        @Html.TextAreaFor(m => m.Front)

        <p>back of card:</p>
        @Html.TextAreaFor(m => m.Back)

    </div>

    <button class="submit_button" type="submit">Submit changes</button>


}

<div class="col-lg-4">
    @using (Html.BeginForm("AddCardTag", "Card", FormMethod.Post))
    {

        <input list="tags" name="TagName" />
        <datalist id="tags">
            @foreach (string tag in Model.AllTags)
            {
                <option value="@tag"></option>
            }
        </datalist>
        @Html.HiddenFor(m => Model.CardID)
        <input type="submit" class="list_item btn" value="Add Tag">
    }
</div>

<div class="row">
    <p class="tag_list">Tags: </p>
    @if (Model.ThisCardTags.Count != 0)
    {
        foreach (var tag in Model.ThisCardTags)
        {
            <p class="tag_list">@tag</p>
            using (Html.BeginForm("RemoveDeckTag", "Deck", FormMethod.Post))
            {
                @Html.HiddenFor(m => Model.CardID)

                <button id="@tag" class="removeTag">x</button>
            }
        }
    }
    else
    {
        <!--if no tags-->
        <div>No tags exist for this card. Add one above.</div>
    }
</div>