@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <title>@ViewBag.Title - Decks</title>
}

@using Capstone.Web.Models
@model List<Deck>

<h2 class="title">Your Decks</h2>
<div>
    <div class="row new_deck">
        <div class="col-lg-2">
            @Html.ActionLink("New Deck", "AddDeck", "Deck", null, new { @class = "list_item btn" })
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
            @using (Html.BeginForm("DeckSearchByName", "Deck", FormMethod.Get))
            {
                @Html.TextBox("SearchString")
                <button type="submit" class="list_item btn" id="SearchName">Search Name</button>
            }
        </div>
        <div class="col-lg-4">
            @if (Model.Count != 0)
            {
                using (Html.BeginForm("DeckSearchByTag", "Deck", FormMethod.Get))
                {
                    @Html.DropDownList("SearchString", Model[0].AllTagsSelectList);
                    <button type="submit" class="list_item btn">Search Tag</button>
                }
            }
        </div>
    </div>

    <div class="deck_list">
        @foreach (var deck in Model)
    {
        if (deck.DeckID != null)
        {
            string deckLink = "../Deck/EditDeck/" + deck.DeckID;

            <div class="row">
                <div class="col-md-2 btn"><a href="@deckLink" class="deck_name"><h3>@deck.Name</h3></a></div>
            </div>

            @Html.ActionLink("Study this deck", "BeginStudy", "Deck", new { deckID = deck.DeckID }, null)

            <p>@Html.ActionLink("Submit this deck for public use", "SubmitToAdmin", "Home")</p>
    }
    else
    {
        <p>No decks found by that name.</p>
}

    <hr />
}
    </div>
</div>

