@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <title>@ViewBag.Title - Decks</title>
}

@using Capstone.Web.Models
@model List<Deck>

<div>
    <div class="row new_deck">
        <div class="col-lg-2">
            @Html.ActionLink("New Deck", "AddDeck", "Deck", null, new { @class = "list_item btn" })
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
            @using (Html.BeginForm("DeckSearchByName", "Deck", FormMethod.Get))
            {
                @Html.TextBox("SearchString")
                <button type="submit" class="list_item btn">Search Name</button>
            }
        </div>
        <div class="col-lg-4">
            @if (Model.Count != 0)
            {
                using (Html.BeginForm("DeckSearchByTag", "Deck", FormMethod.Get))
                {
                    @Html.DropDownList("SearchString", Model[0].AllTagsSelectList);
                    <button type="submit" class="list_item btn">Search Tag</button>
                }
            }
        </div>
        <hr />
    </div>
    <h2>Your Decks</h2>
    <div>
        @foreach (var deck in Model)
        {
            string deckLink = "../Deck/EditDeck/" + deck.DeckID;

            <div class="row">
                <div class="col-md-2 btn"><a href="@deckLink" class="deck_name"><h3>@deck.Name</h3></a></div>
            </div>

            @Html.ActionLink("Study this deck", "BeginStudy", "Deck", new { deckID = deck.DeckID }, null)

            <hr />
        }
    </div>
</div>

