@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Capstone.Web.Models;
@model Deck

<h2>Edit Deck</h2>

@using (Html.BeginForm("EditDeckName", "Deck", FormMethod.Post))
{
    <div>
        @Html.Label("Name", "Deck Name: ")
        @Html.TextBoxFor(m => m.Name)
        @Html.HiddenFor(m => m.DeckID)
    </div>

    <button class="list_item btn">Change Name</button>
}
<div class="col-lg-4">
    @using (Html.BeginForm("AddDeckTag", "Deck", FormMethod.Post))
    {

        <input list="tags" name="TagName" />
        <datalist id="tags">
            @foreach (string tag in Model.AllTags)
            {
                <option value="@tag"></option>
            }
        </datalist>
        @Html.HiddenFor(m => Model.DeckID)
        <input type="submit" class="list_item btn" value="Add Tag">
    }
</div>
<div class="row">
    <p>Tags: </p>
    @if (Model.ThisDeckTags.Count != 0)
    {
        foreach (var tag in Model.ThisDeckTags)
        {
            <div>
                @tag
                @using (Html.BeginForm("RemoveDeckTag", "Deck", FormMethod.Post))
                {
                    <div>
                        @*@Html.Label("Tag", tag)
                        @Html.HiddenFor(Tag, Model.TagName)*@
                        @Html.HiddenFor(m => Model.DeckID)
                    </div>

                    <button id="@tag" class="removeTag">X</button>
                }
            </div>
        }
    }
    else
    {
        <div>No tags exist for this deck. Add one above.</div>
    }
    <hr />
</div>
@if (Model.DeckCards.Count != 0)
{
    foreach (var card in Model.DeckCards)
    {
        <div>
            <div>@card.Front</div>
        </div>
        using (Html.BeginForm("RemoveCard", "Deck", FormMethod.Post))
        {
            <div>
                @Html.HiddenFor(m => card.CardID)
            </div>

            <button>Remove Card</button>
        }
    }
}