@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Capstone.Web.Models;
@model Deck

<h2>Edit Deck</h2>

@using (Html.BeginForm("EditDeckName", "Deck", FormMethod.Post))
{
    <div>
        @Html.Label("Name", "Deck Name: ")
        @Html.TextBoxFor(m => m.Name)
    </div>

    <button>Submit</button>
}
<div class="row">
    <p>Tags: </p> 
@if (Model.ThisDeckTags.Count != 0)
{
    foreach (var tag in Model.ThisDeckTags)
    {
    <div>
        @tag
        @using (Html.BeginForm("RemoveDeckTag", "Deck", FormMethod.Post))
        {
        <div>
            @Html.HiddenFor(m => tag)
        </div>

        <button>X</button>
        }
    </div>
    }
}
<hr />
</div>
@if (Model.DeckCards.Count != 0)
{
    foreach (var card in Model.DeckCards)
    {
        <div>
            <div>@card.Front</div>
        </div>
        using (Html.BeginForm("RemoveCard", "Deck", FormMethod.Post))
        {
            <div>
                @Html.HiddenFor(m => card.CardID)
            </div>

            <button>Remove Card</button>
        }
    }
}