@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Capstone.Web.Models;
@model Deck

<h2>Edit Deck</h2>

<!--Edit deck name-->
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-6">
        @using (Html.BeginForm("EditDeckName", "Deck", FormMethod.Post))
        {
            @Html.Label("Name", "Deck Name: ")
            @Html.TextBoxFor(m => m.Name)
            @Html.HiddenFor(m => m.DeckID)
            <button class="list_item btn">Change Name</button>
        }
    </div>

    <!--Add a tag to the deck-->

    <div class="col-lg-4">

        @using (Html.BeginForm("AddDeckTag", "Deck", FormMethod.Post))
        {

            <input list="tags" name="TagName" />
            <datalist id="tags">
                @foreach (string tag in Model.AllTags)
                {
                    <option value="@tag"></option>
                }
            </datalist>
            @Html.HiddenFor(m => Model.DeckID)
            <input type="submit" class="list_item btn" value="Add Tag">
        }
    </div>
    <hr/>
</div>
<!--Lists tags under deck-->

<div class="row">
    <p class="tag_list">Tags: </p>
    @if (Model.ThisDeckTags.Count != 0)
    {
        foreach (var tag in Model.ThisDeckTags)
        {
            <p class="tag_list">@tag</p>
            @Html.ActionLink("Delete", "RemoveDeckTag", new { tagName = tag, deckID = Model.DeckID })
        }
    }
    else
    {
        <!--if no tags-->
        <div>No tags exist for this deck. Add one above.</div>
    }
    <hr />
</div>

<!--Lists cards in deck for review or removal-->

@if (Model.DeckCards.Count != 0)
{
    foreach (var card in Model.DeckCards)
    {
        <div class="card_bothsides">
            <div class="card_front">@card.Front</div>
            <div class="card_back">@card.Back</div>
            @Html.ActionLink("Remove Card", "RemoveThisCard", new { id = card.CardID }, null)

        </div>
    }
}
else
{
    <p>There are no cards in this deck.  Add some in the card section.</p>
}
