<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Flash Cards</title>
    <link rel="stylesheet" href="~/Content/styles.css">
    <link rel="stylesheet" href="~/Content/bootstrap.css">


    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <div class="container">
        <div>
            <div class="nav navbar">
                <div class="list_item btn">@Html.ActionLink("Home", "Index", "Home")</div>
                <div class="list_item btn">@Html.ActionLink("Decks", "Index", "Deck")</div>
                <div class="list_item btn">@Html.ActionLink("Cards", "Index", "Card")</div>
                <div class="list_item btn">@Html.ActionLink("Register", "Register", "Home")</div>
                <div class="list_item btn">@Html.ActionLink("Login", "Login", "Home")</div>
                <div class="list_item btn">@Html.ActionLink("Logout", "Logout", "Home")</div>
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
