<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Flash Cards</title>
    <link rel="stylesheet" href="~/Content/styles.css">
    <link rel="stylesheet" href="~/Content/bootstrap.css">


    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="top">
            <header>Flash Forward</header>
            <div>
                <div class="row top_links">
                    <div class="col-sm-3"></div>
                    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "list_item btn col-sm-1" })
                    @Html.ActionLink("Decks", "Index", "Deck", null, new { @class = "list_item btn col-sm-1" })
                    @Html.ActionLink("Cards", "Index", "Card", null, new { @class = "list_item btn col-sm-1" })
                    @if (Session["user_id"] == null)
                    {
                        @Html.ActionLink("Register", "Register", "Home", null, new { @class = "list_item btn col-sm-1" })
                        @Html.ActionLink("Login", "Login", "Home", null, new { @class = "list_item btn col-sm-1" })
                    }
                    @if (Session["user_id"] != null)
                    {
                        @Html.ActionLink("Logout", "Logout", "Home", null, new { @class = "list_item btn col-sm-1" })
                    }
                </div>
            </div>
        </div>
    </div>
    <section class="centeredPanel">
        <div class="main_body">
            @RenderBody()
        </div>
    </section>
</body>
</html>
